/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* hide scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

.grid img {
	width:280px;
	padding:10px;
}

.grid {
	margin: 0 auto;
}

.grid-sizer,
.grid-item {}

header {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin:0 2em 2em;
}

h1 {
	color:blue;
	text-decoration:underline;
	display:inline-block;
	font-size:2em;
}

h1 span:nth-child(even) {
	text-decoration:underline;
	color:red;
}

h1 span:nth-child(odd) {
	text-decoration:underline;
	color:blue;
}

nav {
	display:inline-block;
}

nav ul li {
	display:inline-block;
	margin-right:20px;
}

nav ul li:last-child {
	font-weight: bold;
}

nav ul li input {
	background-color: rgba(0,0,0,0);
    width: 20px;
    border:1px solid black;
    padding-left:5px;
}

nav ul li input:focus {
	width:200px;
}

.selected-nav {
	border-bottom:1px solid blue;
}

/***********************************
*
*	MAIN ITEM
*
************************************/

.item {
	width:100%;
}

.feature {
	display:flex;
	justify-content:space-between;
}

.feature-info {
	width: 30%;
    padding-left: 10%;
    font-size:1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-info h2 {
	font-size:2em;
}

.feature-info p {
	line-height:2em;
}

.feature-image{
	width:60%;
	height:70vh;
	position:relative;
}

.feature-image-background {
	width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(35px);
  	filter: blur(35px);
    position:absolute;
    z-index:-10;
    top:0;
}

.feature-image img {
    z-index:10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height:90%;
    max-width:90%;
    box-shadow: 2px 2px 59px #333;
    padding:10px;
}

.feature-tag {
	position: absolute;
    right: 5%;
    top: 15%;
    transform: rotate(-90deg);
    font-size: 1.5em;
    background-color: yellow;
}

/***********************************
*
*	RELATED
*
************************************/

.related {
	display:flex;
	justify-content:space-around;
	width: 40%;
    border: 1px solid black;
    margin-left:2em;
    position: fixed;
    left: 0em;
    bottom: 4%;
}

.related > div {
	text-align:center;
	width:30%;
}

.related img {
	height: 17vh;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-filter: grayscale(.8);
    width:100%;
    padding:0px;
}

.related img:hover {
	filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.related .tag {
	position:absolute;
    right: 1%;
    bottom: 9%;
    transform: rotate(90deg);
    font-size: 1.5em;
    padding: 1px 4px;
    position:fixed;
    width:auto;
    display:flex;

}

.tag p {
	border: 1px solid black;
	padding:2px;
	margin:2px;
}

.tag .prev, .tag .next {
	border:none;
}

/***********************************
*
*	EXPANDED
*
************************************/

.related-expanded {
	margin-bottom: 16em;
}

.full-image {
	border:1px solid blue;
}


/***********************************
*
*	MEDIA QUERIES
*
************************************/

@media (max-width: 900px) {
	header {
		display:block;
	}

	nav {
		margin-top:10px;
	}

	nav ul li {
		margin-right: 10px;
    	font-size: .8em;
	}
  .feature-info {
    width: 20%;
    padding-left: 10%;
    font-size: 1.5em;
    display:inline-block;
  }

  .feature-image {
  	margin-right: 1em;
  }

  .feature-tag {
  	right: -5%; 
    top: 0%; 
    transform: rotate(-90deg);
  }

  .related p {
  	bottom:9%;
  }

  .related img {
  	height:10vh;
  	padding-top: 2px;
    padding-bottom: 2px;
  }

  .related .tag {
  	bottom:7%;
  }
}