/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited, a:active, a:hover {
  text-deocration:none;
  color:black;

}

/* hide scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

.grid img {
	width:280px;
	padding:10px;
}

.grid img:hover {
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.3));
  filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.3));
}

.grid {
	margin: 2em auto;
}

.grid-sizer,
.grid-item {}

header {
	  margin: -2em 0em 0em;
    position: fixed;
    z-index: 100;
    background: white;
    width: 100%;
    padding-bottom: 12px;
    padding-top:2em;
}

h1 {
	color:blue;
	text-decoration:underline;
	display:inline-block;
	font-size:2em;
  padding-left:2em;
}

h1 span:nth-child(even) {
	text-decoration:underline;
	color:red;
}

h1 span:nth-child(odd) {
	text-decoration:underline;
	color:blue;
}

nav {
	float:right;
  padding-top:12px;
  padding-right:2em;
}

nav ul li {
	display:inline-block;
	margin-right:20px;
}

nav ul li input {
	background-color: rgba(0,0,0,0);
    width: 20px;
    border:1px solid black;
    padding-left:5px;
}

nav ul li input:focus {
	width:200px;
}

.selected-nav {
	border-bottom:1px solid blue;
}

/***********************************
*
*	MAIN ITEM
*
************************************/

.item {
	width:100%;
  margin-top:2em;
}

.feature {
	display:flex;
	justify-content:space-between;
}

.feature-info {
	width: 30%;
    padding-left: 10%;
    font-size:1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-info h2 {
	font-size:2em;
}

.feature-info p {
	line-height:2em;
}

.feature-image{
	width:60%;
	height:70vh;
	position:relative;
}

.feature-image-background {
	width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(35px);
  	filter: blur(35px);
    position:absolute;
    z-index:-10;
    top:0;
}

.feature-image img {
    z-index:10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height:90%;
    max-width:90%;
    box-shadow: 2px 2px 59px #333;
    padding:10px;
}

.feature-tag {
	position: absolute;
    right: 5%;
    top: 15%;
    transform: rotate(-90deg);
    font-size: 1.5em;
    background-color: yellow;
}

/***********************************
*
*	RELATED
*
************************************/

.related {
	display:flex;
	justify-content:space-around;
	width: 40%;
    border: 1px solid black;
    margin-left:2em;
    position: fixed;
    left: 0em;
    bottom: 4%;
    background: rgba(255,255,255,.8);
    padding-bottom: 10px;
    padding-top: 10px;
}

.related > div {
	text-align:center;
	width:30%;
}

.related img {
	height: 17vh;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-filter: grayscale(.8);
    width:100%;
    padding:0px;
}

.related img:hover {
	filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.description {
	display: flex;
    align-items: center;
}

.description p {
	max-height:17vh;
	overflow:hidden;
}

.related .tag {
	position:absolute;
    right: 3%;
    bottom: 9%;
    transform: rotate(90deg);
    font-size: 1.5em;
    padding: 1px 4px;
    position:fixed;
    width:auto;
    display:flex;

}

.tag p {
	border: 1px solid black;
	padding:2px;
	margin:2px;
  max-width: 17vh;
}

.tag .prev, .tag .next {
	border:none;
}

/***********************************
*
*	EXPANDED
*
************************************/

.related-expanded {
	margin-bottom: 16em;
}

.full-image {
	border:1px solid blue;
}

/***********************************
*
* FULL IMAGE
*
************************************/

.show-full-image {
  width:100vw;
  height:100vh;
}

.show-full-image img {
  width:100%;
}

.full-info-toggle {
  position:absolute;
  right:-5vw;
  top:5px;
  font-size:1.3em;
  cursor:pointer;
}

/***********************************
*
*	MEDIA QUERIES
*
************************************/

@media (max-width: 900px) {
	header {
		display:block;
	}

	nav {
		margin-top:10px;
	}

	nav ul li {
		margin-right: 10px;
    	font-size: .8em;
    	margin-bottom: 2px;
	}
  .feature-info {
    margin-top:4em;
    width: 20%;
    padding-left: 10%;
    font-size: 1.5em;
    display:inline-block;
  }

  .feature-image {
  	margin-right: 1em;
  }

  .feature-tag {
  	right: -5%; 
    top: 0%; 
    transform: rotate(-90deg);

    left: -50%;
    top: 91%;
    transform: rotate(0deg);
    position: relative;
    width: 17%;
  }

  .related p {
  	bottom:9%;
  }

  .related img {
  	height:10vh;
  	padding-top: 2px;
    padding-bottom: 2px;
  }

  .description p {
  	height:10vh;
  }

  .related .tag {
  	bottom:7%;
  }
}